READER_HTTP=XXX
AUTH_AUTHENTIK_ID=XXX
AUTH_AUTHENTIK_ISSUER=https://my-authentik-domain.com/application/o/rss-reader-test/
AUTH_AUTHENTIK_SECRET=XXX
AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev