AUTH_GOOGLE_ID =

AUTH_GOOGLE_SECRET=

AUTH_GITHUB_ID=

AUTH_GITHUB_SECRET=

AUTH_SECRET=

INTERNAL_JWT_SECRET=

POSTGRES_PASSWORD=

# if trying out on your own machine, set to http://localhoost:8080
ORIGIN=

SYNDICAPI_PORT=9999

SYNDICAPI_IMAGE=ghcr.io/sunese/syndic/api:latest

SYNDICFRONTEND_IMAGE=ghcr.io/sunese/syndic/frontend:latest

SYNDICWORKER_IMAGE=ghcr.io/sunese/syndic/worker:latest