on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - Syndic.AppHost/**
      - Syndic.Frontend/**
      - Syndic.ReaderDb/**
      - Syndic.ReaderDbManager/**
      - Syndic.ReaderService/**
      - Syndic.ServiceDefaults/**

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      actions: write
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: |
            10.x.x

      - name: Install Aspire CLI
        run: curl -sSL https://aspire.dev/install.sh | bash

      - name: Set up Docker
        uses: docker/setup-docker-action@v4
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }

      - name: Get next version
        uses: reecetech/version-increment@2024.10.1
        id: version
        with:
          scheme: semver
          increment: patch

      - run: git tag ${{ steps.version.outputs.version }}
      - run: git push origin ${{ steps.version.outputs.version }}

      # `aspire do push` will build images tagged name:latest and push them
      - name: Aspire push
        run: |
          aspire do push --log-level debug

      - name: Tag and push versioned images
        run: |
          docker tag ghcr.io/sunese/syndic/frontend:latest ghcr.io/sunese/syndic/frontend:${{ steps.version.outputs.version }}
          docker push ghcr.io/sunese/syndic/frontend:${{ steps.version.outputs.version }}

          docker tag ghcr.io/sunese/syndic/api:latest ghcr.io/sunese/syndic/api:${{ steps.version.outputs.version }}
          docker push ghcr.io/sunese/syndic/api:${{ steps.version.outputs.version }}

          docker tag ghcr.io/sunese/syndic/worker:latest ghcr.io/sunese/syndic/worker:${{ steps.version.outputs.version }}
          docker push ghcr.io/sunese/syndic/worker:${{ steps.version.outputs.version }}
